.App {
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.App-logo {
  height: 40vmin;
}

.App .room-item {
  display: flex;
  border: 1px solid gray;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  align-items: center;
}

.room-item span {
  margin: auto;
  cursor: pointer;
}

.room-item span:hover {
  color: gray;
}

.App .shape {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
